@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'lilitaone';
    font-style: normal;
    font-weight: 200;
    src: url(./fonts/Lilita_One/LilitaOne-Regular.ttf);
}

@font-face {
  font-family: 'titilliumweb';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/TitilliumWeb/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: 'notoserif';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Noto_Serif_Old_Uyghur/NotoSerifOldUyghur-Regular.ttf);
}


@layer base {
  html {
    font-family: 'notoserif', serif;
  }
}

.superlarge {
  font-size: 10rem;
  letter-spacing: -10px;
}

@media screen and (max-width: 768px) {
  .superlarge {
    font-size: 7rem;
  }
}

@media screen and (max-width: 400px) {
  .superlarge {
    font-size: 5rem;
  }
}

.logo-bg {
  background: -webkit-linear-gradient( #ad00a2, #0c2eed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-name:hover {
  background: -webkit-linear-gradient( #ad00a2, #0c2eed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}